.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(100deg,skyblue, black)
}

.link {
    font-size: 40px;
    color: #fff;
}